
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #EEE;
  padding: 50px;
}

.toolbar {
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: #DDD solid 1px;
  text-align: right;
}

.toolbar button {
  background: #333;
  color: white;
  border: 0;
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 5px;
  margin-left: 10px;
  outline: 0;
  cursor: pointer;
}

.toolbar button:active {
  transform: scale(0.95);
}

.container {
  background: white;
  max-width: 900px;
  margin: 0 auto 50px;
  padding: 50px;
  padding-left: 90px;
  min-height: 100%;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  font-family: serif;
  font-size: 14pt;
  line-height: 1.5;
}
